<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Prueba de diagramación</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" href="theme/style.css">

</head>
<body>
	<header>
		<h1>Score</h1>
		<nav>
			<ul>
				<li><a href="/signup">Sign up free</a></li>
				<li><a href="/login">Log In</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/savings">Find savings</a></li>
				<li><a href="/about">How it works</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<header>
			<div class="wrapper">
				<h1>Give every <em>dollar a job</em></h1>
				<p>Get the most advanced technology in personal finance now available to everyone.</p>
			</div>
		</header>


		<section id="features">
			<h1>Features</h1>

			<ul>
				<li class="budgets">
					<h2>Budgets? You betcha</h2>
					<p>Easily create bidgets, and see out suggestions based on your spending.</p>
				</li>
				<li class="bills">
					<h2>Bills? Done</h2>
					<p>Track your bills like never before. Get alerts when it's time to pay so you never miss one.</p>
				</li>
				<li class="credit">
					<h2>Credit score? Checked</h2>
					<p>Find out your for free and get tips to help improve it, no credit card required.</p>
				</li>
			</ul>
		</section>

		<section id="achievements">
			<h1>Transforming financial lives</h1>

			<ul>
				<li class="assets">
					<strong>$8 billion</strong> <br> assets under management
				</li>
				<li class="investments">
					<strong>$18,000</strong> <br>investment clients in all 50 states
				</li>
				<li class="users">
					<strong>1.9+ million</strong> <br>users reaching their goals
				</li>
			</ul>
		</section>
	</main>
</body>
</html>
